*:not(.material-icons) {
	font-family: Arvo !important;
	text-align: center;
	transition-duration: 0.2s;
}

*:focus { 
	outline: thin dotted; 
}

.title {
	font-family: 'Summit';
	font-size: 60px;
	font-weight: bold;
}

.smoltitle {
	font-family: 'Summit';
	font-size: 40px;
	font-weight: bold;
}

.beegtitle {
	font-family: 'Summit';
	font-size: 80px;
	font-weight: bold;
}

.grand {
	font-family: 'Averia Serif Libre', cursive;
}

html, body, #app {
	overflow-x: hidden;
	font-size: 14px;
	min-height: 100%;
	height: 100%;
	margin: 0;
}

.nrow {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

.ncol {
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
}

.reallybigtxt {
	font-size: 80px;
	font-weight: bold;
}

.bigtxt {
	font-size: 30px;
	font-weight: bold;
}

.slightlyBigText {
	font-size: 20px;
	font-weight: bold;
}

.smalltxt {
	font-size: 11px;
}

button {
    font-size: 13px !important;
	cursor: default;
	width: 100px;
	height: 100px;
	margin: 2px !important;
}

button.mini {
	height: 25px;
	width: 30px;
	border-width: 1.5px;
}

button.small {
	width: 75px;
	height: 50px;
}

button.smallw {
	width: 100px;
	height: 50px;
}

button.big, button.grand {
	width: 150px;
	height: 150px;
}

button.reallyBig {
	width: 200px;
	height: 200px;
}

.autoDiv {
	width: 200px;
	height: 200px;
	border: 1px solid white;
	border-radius: 15%;
}

.unlocked {
	color: white;
	cursor: pointer;
}

.unlocked:hover {
	filter: brightness(120%);
}

.bought {
	color: black;
	cursor: default;
}

.slow {
	transition-duration: 5s !important;
}

.outerBar {
	height: 30px;
	min-width: 50%;
	width: 50%;
	background-color: #fafafa;
	margin-left: 25%;
	border-radius: 5px;
}

.innerBar {
	height: 30px;
	background-color: #242424;
	border-radius: 5px;
	transform: scale(0.9);
}

.smolOuterBar {
	height: 20px;
	min-width: 50px;
	width: 50px;
	background-color: #fafafa;
	border-radius: 5px;
}

.smolInnerBar {
	height: 20px;
	background-color: #242424;
	border-radius: 5px;
	transform: scale(0.9);
}

.nohover { cursor: default; }

button .idloc {
	opacity: 0;
}

button:hover .idloc {
	opacity: 1;
}

button:focus .idloc {
	opacity: 1;
}

.bestiaryDiv {
	color: white;
}

.bestiaryDiv.short {
	height: 125px;
}
.bestiaryDiv.tall {
	height: 170px;
}

img {
	transition-duration: 0s !important;
}

.text-blue-grey-15 {
	color: #182024 !important;
}
.bg-blue-grey-15 {
	background: #182024 !important;
}

.text-grey-15 {
	color: #151515 !important;
}
.bg-grey-15 {
	background: #151515 !important;
}