* {
	font-family: Arvo;
	text-align: center;
	transition-duration: 0.2s;
}

*:focus { 
	outline: thin dotted; 
}

.title {
	font-family: 'Summit';
	font-size: 60px;
	font-weight: bold;
}

.smoltitle {
	font-family: 'Summit';
	font-size: 40px;
	font-weight: bold;
}

.beegtitle {
	font-family: 'Summit';
	font-size: 80px;
	font-weight: bold;
}

.grand {
	font-family: 'Averia Serif Libre', cursive;
}

html, body, #app {
	overflow-x: hidden;
	min-height: 100%;
	height: 100%;
	margin: 0;
}

.row {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

.col {
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
}

.reallybigtxt {
	font-size: 80px;
	font-weight: bold;
}

.bigtxt {
	font-size: 30px;
	font-weight: bold;
}

.slightlyBigText {
	font-size: 20px;
	font-weight: bold;
}

.smalltxt {
	font-size: 11px;
}

button {
	border: solid 3px white;
	background-color: white;
    font-size: 14px;
	cursor: default;
	width: 100px;
	height: 100px;
}

button.mini {
	height: 25px;
	width: 30px;
	border-width: 1.5px;
}

button.small {
	width: 75px;
	height: 50px;
}

button.smallw {
	width: 100px;
	height: 50px;
}

button.big, button.grand {
	width: 150px;
	height: 150px;
}

button.reallyBig {
	width: 200px;
	height: 200px;
}

.autoDiv {
	width: 200px;
	height: 200px;
	border: 1px solid white;
	border-radius: 15%;
}

.locked {
	background-color: #820000;
	color: white;
	cursor: not-allowed;
}

.unlocked {
	background-color: #73755f;
	color: white;
	cursor: pointer;
}

.unlocked:hover {
	filter: brightness(120%);
	transform: scale(1.1);
}

.bought {
	background-color: #13f23d;
	color: black;
	cursor: default;
}

.rigid {
	background-color: #85ffc8;
	border: 1px solid white;
	border-radius: 0;
	color: black;
	font-family: 'Summit';
	font-size: 42px;
	height: 150px;
	width: 300px;
	cursor: pointer;
}

.rigid:hover {
	filter: brightness(1.1);
	transform: scale(1.1);
}

.slow {
	transition-duration: 5s !important;
}

.outerBar {
	height: 30px;
	min-width: 50%;
	width: 50%;
	background-color: #fafafa;
	margin-left: 25%;
	border-radius: 5px;
}

.innerBar {
	height: 30px;
	background-color: #242424;
	border-radius: 5px;
	transform: scale(0.9);
}

.smolOuterBar {
	height: 20px;
	min-width: 50px;
	width: 50px;
	background-color: #fafafa;
	border-radius: 5px;
}

.smolInnerBar {
	height: 20px;
	background-color: #242424;
	border-radius: 5px;
	transform: scale(0.9);
}

.nohover { cursor: default; }

button .idloc {
	opacity: 0;
}

button:hover .idloc {
	opacity: 1;
}

button:focus .idloc {
	opacity: 1;
}

button.unlocked.options {
	background-color: #666666;
}

button.unlocked.trophies {
	background-color: #006882;
}

.bestiaryDiv {
	width: 125px;
	height: 160px;
	background-color: #693636;
	color: white;
}

.bestiaryDiv.short {
	height: 125px;
}
.bestiaryDiv.tall {
	height: 170px;
}

button.binary {
	width: 125px;
	height: 5em;
	cursor: pointer;
}
button.binary:hover {
	filter: brightness(1.1);
}

.enabled {
	background-color: #008221;
}

.canbuy {
	background-color: #008282;
}

.disabled {
	background-color: #ffb188;
}

[tooltip] {
    position: relative;
    z-index: 2;
}

[tooltip]:before,
[tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

[tooltip]:before {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 5%, 0.9);
    color: #fff;
    content: attr(tooltip);
	white-space: pre-wrap;
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    transition-duration: .5s;
}

[tooltip]:hover:before,
[tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

img {
	transition-duration: 0s !important;
}